@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;
}

@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}

@mixin sticky() {
  position: -webkit-sticky;
  position: sticky;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin user-select-none() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin animation($name, $time, $easing, $repeat){
  -webkit-animation: $name $time $easing $repeat;
  -moz-animation: $name $time $easing $repeat;
  -ms-animation: $name $time $easing $repeat;
  -o-animation: $name $time $easing $repeat;
  animation: $name $time $easing $repeat;
}

@mixin gradient($angle, $color-a, $percent-a, $color-b, $percent-b,){
  background: $color-b;
  background: -moz-linear-gradient($angle, $color-a $percent-a, $color-b $percent-b);
  background: -webkit-linear-gradient($angle, $color-a $percent-a, $color-b $percent-b);
  background: linear-gradient($angle, $color-a $percent-a, $color-b $percent-b);
}

//Keyframes

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}