//Colors
$color-1: #ffffff;
$color-2: #2C2C2C;
$color-3: #585757;
$color-4: #E03563;

//Fonts
$font-1: 'Lato', sans-serif;

//Shadows
$shadow-1: 0px 0px 10px $color-3;

//Images
$image-loader: url("../loader.svg");
$image-arrow-down: url("../arrow-down.svg");
$image-arrow-left: url("../arrow-left.svg");
